/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

/* __VARIABLES*/

:root{
    /* COLORES */
    --color-back-aside:#232323;
    --color-white:#ffffff;
    --color-black:#000000;
    --color-panel-principal:#F0F2F4;
    --color-gri-super-claro:#F7F9FB;
    --color-verde-claro-100:#EFF6DE;
    --color-verde-claro-200:#DEEEBE;
    --color-verde-claro-300:#CEE59D;
    --color-verde-claro-400:#BDDC7C;
    --color-verde-claro-500:#ADD45C;
    --color-verde-claro-600:#9CCB3B;
    --color-verde-iam:#82A931;
    --color-verde-hover:#688727;
    --color-gris-claro:#F0F2F4;
    --color-gris-medio:#939393;
    --color-agua-marina:#01CCD0;
    --color-mazul-morado:#465FB9;
    --color-morado-vino-000:#EEE8F4;
    --color-morado-vino-100:#F1DEF7;
    --color-morado-vino-200:#E2BEEE;
    --color-morado-vino-300:#D49DE6;
    --color-morado-vino-400:#C57CDD;
    --color-morado-vino:#A5017A;
    --color-azul-editar:#12B4DC;
    --color-azul-editar-hover:#0292B5;
    --color-rojo-eliminar:#E70F0A;
    --color-rojo-eliminar-hover:#B60B07;
    --color-menta-regresar:#0DD6BB;
    --color-menta-regresar-hover:#0CB59E;
    --color-gris-azulado-obscuro:#5B6D80;

    /* FUENTES */
    --font-bebas-neue: 'Bebas Neue', sans-serif;
    --font-raleway:'Raleway', sans-serif;
    --font-montserrat:'Montserrat', sans-serif;

    /* TAMAÑOS FONT */
    --titulo1-56: 56px;
    --titulo2-44: 44px;
    --titulo3-34: 34px;
    --titulo4-24: 24px;
    --titulo5-20: 20px;
    --titulo6-18: 18px;
    --subtitulo1-18: 18px;
    --subtitulo2-14: 14px;
    --boton-14: 14px;
    --body1-16: 16px;
    --body2-14: 14px;
    --body3-12: 12px;
}


body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: var(--body1-16);
}

a, p, span, div, ul, li{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-bebas-neue);
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.text-center{
    text-align: center;   
}

/* __CONTENEDOR FLEX*/
.cont_flex{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* __ASIDE */
#cont_aside{
    min-width: 260px;
    width: 260px;
    height: 100vh;
    background-color: var(--color-back-aside);
    position: sticky;
    top: 0;
}
ul#menu_aside{
    width: 260px;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: var(--color-back-aside);
}
.logitipo_aside{
    text-align: center;
    margin-bottom:16px; 
    margin-top: 20px;
}
.logitipo_aside img{
    width:70px;
}
ul#menu_aside li{
    width: 100%;
}
ul#menu_aside hr{ 
    opacity: .5;
    width: 90%;
}
a.btn_menu_aside{
    text-decoration: none;
}
.btn_menu_aside .lista_aside{
    color: var(--color-gris-medio);
    padding: 14px 0px 14px 38px;
    box-sizing: border-box;
    display: block;
    font-family: var(--font-montserrat);
    font-size: var(--body2-14);
    font-weight: 600;
    cursor: default! important;
    text-decoration: none;
}
.submenu_gen .lista_aside:hover{
    color: var(--color-white);
}
#submenu{
    display: none;
}
#active_submenu{
    display: block;
}
.submenu_gen .active{
    background-color: var(--color-black);
}

    /* LISTA ACTIVO */
/* .lista_aside_activo{
    padding: 14px 0px 14px 38px;
    font-family: var(--font-montserrat);
    font-size: var(--body2-14);
    font-weight: 600;
    background-color: var(--color-verde-iam)!important;
    color: #fff;
    box-sizing: border-box;
}
.lista_aside_activo .icon_menu_aside{
    opacity: 1!important;
} */

    /* ITEM MENU ACTIVE */
#menu_aside .active li, #menu_aside .active > div:nth-child(1){
    font-family: var(--font-montserrat);
    font-size: var(--body2-14);
    font-weight: 600;
    background-color: var(--color-verde-iam)!important;
    color: #fff;
    box-sizing: border-box;
}
#menu_aside .active li i, #menu_aside .active > div i{
    opacity: 1;
}
.active_submenu{
    color: var(--color-verde-claro-600)!important;
}

    /* ICONOS MENU */
.icon_menu_aside{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 12px;
}

    /* ICONO 1*/
.icon_ms_1{
    background-image: url('../images/icono_panel_admin_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_2{
    background-image: url('../images/icono_alumnos_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_3{
    background-image: url('../images/icono_instructores_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_4{
    background-image: url('../images/icono_grupos_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_5{
    background-image: url('../images/icono_cursos_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_6{
    background-image: url('../images/icono_certificados_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_7{
    background-image: url('../images/icono_plantel_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_8{
    background-image: url('../images/icono_equipo_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_9{
    background-image: url('../images/icono_reportes_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_10{
    background-image: url('../images/icono_cerrar_aside_menu_principal.png');
    opacity: .5;
}
.icon_ms_11{
    background-image: url('../images/icono_user_aside_menu_principal.png');
    opacity: .5;
}

    /* ICONOS HOVER */
.lista_aside_hover:hover, .lista_aside_hover:hover > div.lista_aside{
    color: var(--color-white);
    cursor: pointer!important;
    background-color: var(--color-black)!important;
}
.lista_aside_hover:hover .icon_menu_aside{
    opacity: 1;
}

/* __LEGALES FOOTER*/
.footer_aside{
    position: absolute;
    bottom: 58px;
    color: var(--color-white);
}
.footer_aside p{
    font-family: var(--font-raleway);
    text-align: center;
    width: 220px;
    position: fixed;
}

/* __BOTONES*/
.btn_general{
    position: relative;
    width: fit-content;
    display: flex;
    text-decoration: none;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: var(--boton-14);
    color: #ffffff;
    border-radius: 25px;
    padding: 4px 18px;
    font-size: 0.8rem;
    transition: all 0.3s;
}

    /* BTN ICONOS */
.icon_flecha{
    background-image: url('../images/icono_flecha_right_botones.png');
}
.btn_icon img{
    width: 12px;
    height: auto;
    margin-left: 6px;
}
.btn_icon_reverse img{
    width: 12px;
    height: auto;
    margin-right: 6px;
    transform: rotate(180deg);
}

    /* BTN TIPOS*/
.btn_principal{
    background-color: var(--color-verde-claro-600);
}
.btn_regresar{
    background-color: var(--color-menta-regresar);
    height: 16px;
}
.btn_editar{
    width: 66px;
    background-color: var(--color-azul-editar);
}
.btn_download{
    background-color: var(--color-mazul-morado);
}
.btn_download_curso{
    background-color: var(--color-morado-vino);
}
.btn_foto{
    display: inline-block;
    position: absolute;
    right: 56px;
    bottom: 0;
    padding: 8px 8px 8px 2px;
    background-color: var(--color-azul-editar);
    width: auto;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.38);
}
.btn_foto img{
    width: 26px;
}
.btn_foto:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
}
.btn_eliminar{
    width: 82px;
    background-color: var(--color-rojo-eliminar);
}
.btn_eliminar_foto{
    width: 28px;
    position: absolute;
    background-color: var(--color-rojo-eliminar);
    z-index: 2;
    right: 12px;
    padding: 4px 0px;
    top: 12px;
}
.btn_inhabil{
    cursor: default;
    width: 86px;
    background-color: var(--color-gris-medio);
}

    /* BTN HOVER */
.btn_principal:hover{
    background-color: var(--color-verde-iam);
}
.btn_regresar:hover{
    background-color: var(--color-menta-regresar-hover);
}
.btn_editar:hover{
    background-color: var(--color-azul-editar-hover);
}
.btn_eliminar:hover{
    background-color: var(--color-rojo-eliminar-hover);
}

    /* FORMULARIOS */
        /* FILA FORM */
.form_general_row{
    display: flex;
    flex-direction: row;
    gap: 26px;
}

        /* COLUMNAS FORM */
.col_12{
    width: 100%;
}
.col_11{
    width: 91.66%;
}
.col_10{
    width: 83.33%;
}
.col_9{
    width: 75%;
}
.col_8{
    width: 66.67%;
}
.col_7{
    width: 58.33%;
}
.col_6{
    width: 50%;
}
.col_4{
    width: 33.33%;
}
.col_3{
    width: 25%;
}
.col_2{
    width: 16.66%;
}
.col_1{
    width: 8.33%;
}

    /* __MARGENES */
.m0-auto{
    margin: 0 auto;
}
    /* __ANCHO */
.w-180{
    max-width: 180px;
}

/* __MENÚ PRINCIPAL */
.cont_menu{
    padding: 0 40px;
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: row-reverse;
}
.acceso_usuario{
    background-color: var(--color-white);
}
.acceso_usuario img{
    padding: 17px 0px;
    width: 50px;
}

/* __PANEL PRINCIPAL*/
#cont_panel_principal{
    background-color: var(--color-panel-principal);
    width: 100%;
    padding: 0px 0px;
    box-sizing: border-box;
    display: inherit; /*Heredamos el flex*/
    flex-direction: column;
}
#cont_panel_principal_fijo{
    background-color: var(--color-panel-principal);
    width: 100%;
    padding: 0px 0px;
    box-sizing: border-box;
    display: inherit; /*Heredamos el flex*/
    flex-direction: column;
}

/* __PANEL CENTRAL */
#panel_central{
    padding: 0px 40px;
    display: inherit;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
}
.cont_titulo_cursos{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo_panel{
    padding: 34px 0px 0px 0px;
    text-align: center;
}
.cont_titulo{
    padding: 34px 0px 0px 0px;
}
.tit_2{
    font-family: var(--font-bebas-neue);
    font-size: var(--titulo2-44);
}
.tit_3{
    font-family: var(--font-bebas-neue);
    font-size: var(--titulo3-34);
}
.tit_5{
    font-family: var(--font-bebas-neue);
    font-size: var(--titulo5-20);
}
.tit_5{
    font-family: var(--font-bebas-neue);
    font-size: var(--titulo5-20);
}
.subtit_1{
    font-family: var(--font-montserrat);
    font-size: var(--subtitulo1-18);
    font-weight: 600;
}
.tit_matricula{
    font-family: var(--font-montserrat);
    font-size: var(--body2-14);
    font-weight: normal;
    color: var(--color-verde-iam);
}
.tit_user{
    font-family: var(--font-raleway);
    font-size: var(--titulo6-18);
    font-weight: 600;
    color: var(--color-verde-hover);
    margin-bottom: 0;
}
.txt_base_raleway{
    font-family: var(--font-raleway);
    font-size: var(--body1-16);
    font-weight: 400;
}
.txt_caption{
    font-family: var(--font-montserrat);
    font-size: var(--body3-12);
    font-weight: 400;
}
.txt_caption_tipo_user{
    font-family: var(--font-montserrat);
    font-size: var(--body3-12);
    font-weight: bold;
    color: var(--color-verde-hover);
}
.txt_info_curso{
    font-family: var(--font-montserrat);
    font-size: var(--body3-12);
    font-weight: 400;
    color: var(--color-verde-hover);
}
.txt_precio_curso{
    font-family: var(--font-montserrat);
    font-size: var(--body1-16);
    font-size: 26px;
    font-weight: 800;
    color: var(--color-azul-editar);
}
.txt_matricula{
    color: var(--color-black);
    font-weight: 600;
}
.txt_pesos{
    font-size: 0.6rem;
}
/* __PANELADMIN*/
.cont_contadores_panel{
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
}
.tarjeta_cont{
    position: relative;
    display: block;
    text-align: center;
    width: 25%;
    min-width: 100px;
    margin: 0px 16px 0px 0px;
    padding: 8px 0px 8px 0px;
}

    /* PSEUDO ELEMENTOS */
.tarjeta_cont > p::before{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
}
.tarjeta_cont:nth-child(4){
    margin-right: 0px;
}
.tarjeta_p_admin1{
    background: transparent linear-gradient(110deg, #1E2F97 0%, #1AA7EC 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
}
.tarjeta_p_admin1 > p::before{
    width: 40px;
    height: 50px;
    margin-right: 10px;
    margin-top: 22px;
    background-image: url(../images/icon_alumnos_tarjeta_panel_superior.png);
}
.tarjeta_p_admin2{
    background: transparent linear-gradient(70deg, #1AA7EC 0%, #4CDEDE 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
}
.tarjeta_p_admin2 > p::before{
    width: 40px;
    height: 50px;
    margin-right: 10px;
    margin-top: 22px;
    background-image: url(../images/icon_instructor_tarjeta_panel_superior.png);
}
.tarjeta_p_admin3{
    background: transparent linear-gradient(249deg, #7A7FF7 0%, #4CDEDE 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
}
.tarjeta_p_admin3 > p::before{
    width: 58px;
    height: 50px;
    margin-right: 10px;
    margin-top: 22px;
    background-image: url(../images/icon_grupo_tarjeta_panel_superior.png);
}
.tarjeta_p_admin4{
    background: transparent linear-gradient(249deg, #821E97 0%, #7A7FF7 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
}
.tarjeta_p_admin4 > p::before{
    width: 42px;
    height: 50px;
    margin-right: 10px;
    margin-top: 22px;
    background-image: url(../images/icon_cursos_tarjeta_panel_superior.png);
}
.cont_numero_ps{
    color: var(--color-white);
    font-family: var(--font-montserrat);
    font-size: 48px;
    font-weight: bold;
    opacity: .4;
}
.cont_descriptivo_ps{
    color: var(--color-white);
    font-family: var(--font-raleway);
    font-size: 18px;
    font-weight: 600;
}

/* __PANEL INFERIOR*/
.panel_inferior{
    display: inherit;
    
    padding: 20px 40px 0px 40px;
    justify-content: space-evenly;
}
.panel_central_left, .panel_central_right, .panel_central_left_30, .panel_central_right_70{
    background-color: var(--color-white);
    border-radius: 6px;
    padding: 20px 20px;
    box-sizing: border-box;
    height: fit-content;
}
.panel_central_left{
    width: 60%;
    margin-right: 16px;
}
.cont_grupos_panel{
    display: flex;
}
.panel_central_right{
    width: 40%;
}

.panel_central_left_30{
    width: 30%;
    margin-right: 16px;
}
.panel_central_right_70{
    width: 70%;
    margin-right: 16px;
}

    /* TARJETA GRUPO */
.cont_tarjeta_grupo_panel{
    position: relative;
    display: block;
    background-color: var(--color-white);
    width: 30%;
    border:1px solid #E3E3E3;
    border-radius: 8px;
    margin-left: 16px;
    padding: 18px 12px 12px 12px;
}
.cont_tarjeta_grupo_panel > span::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background: transparent linear-gradient(5deg, #3ED6AF 0%, #8CE27F 100%) 0% 0% no-repeat padding-box;
}
.cont_tarjeta_grupo_panel img{
    display: block;
    text-align: center;
    margin: 0 auto;
    opacity: .2;
}
.txt_tarjeta{
    font-family: var(--font-montserrat);
    font-size: var(--body3-12);
    font-weight: 400;
    text-align: center;
}

    /* APARTADO CURSOS - TABLA */

.tabla_panel, tr, td, th{
    width: auto;
    padding: 0;
    margin: 0;
    padding: 12px 10px;
}
.tabla_panel{
    padding: 0px;
}
.tabla_panel{
    max-width: 100%!important;
    width: 100%;
}
.tabla_panel thead tr{
    /* background-color: var(--color-morado-vino)!important; */
    color: var(--color-white);
    padding: 16px 20px;
    height: 40px;
    font-family: var(--font-raleway);
    font-size: var(--subtitulo2-14);
    font-weight: 600;
    text-align: left;
}
.tabla_panel tbody tr{
    height: 40px;
    font-family: var(--font-montserrat);
    font-size: var(--body3-12);
    background-color: var(--color-gri-super-claro);
    font-weight: 500!important;
    color: var(--color-black);
    transition: all 0.2s;
}
.tabla_panel tbody tr:nth-child(even){
    background-color: var(--color-white);
}
.tabla_panel tbody tr td:nth-child(+n+2){
    text-align: center;
}
#tit_tabla{
    text-align: center;
    background-color: var(--color-morado-vino);
    color: var(--color-white);   
}
#tit_tabla_alumnos{
    text-align: center;
    background-color: var(--color-mazul-morado);
    color: var(--color-white);   
}


.tabla_panel tbody tr:hover{
    background-color: var(--color-verde-claro-100);
}

    /* ERROR TABLA */
#Error_filtro_vacio{
    display: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-montserrat);
    padding: 12px 0px 20px 0px;
}

    /* BUSCADOR DE CURSOS */
#buscadorINP{
    background-color: #ffffff;
    border: 1px solid var(--color-gris-azulado-obscuro);
    color: #000000;
    padding: 6px 24px;
    border-radius: 25px;
    font-family: var(--font-raleway);
    background-image: url(../images/svg/Icon-material-buscador.svg);
    background-repeat: no-repeat;
    background-position: left 6px center;
    background-size: 12px;
    margin-right: 20px;
}
#buscadorINP:focus-visible {
    outline: var(--color-azul-editar) auto 1px;    
}
.cont_sortable{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 12px 0px;
}
    /* FILTRO DE BUSQUEDA */
.select_filter{
    background-color: var(--color-back-aside);
    border: none;
    padding: 6px 16px;
    border-radius: 25px;
    font-family: var(--font-raleway);
    font-weight: 600;
    color: var(--color-white);
}

    /* PAGINACION */
#page{
    background-color: var(--color-gris-claro);
    font-family: var(--font-montserrat);
    color: var(--color-gris-azulado-obscuro);
    font-size: .8rem;
    padding: 4px 10px 4px 12px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 6px;
}
#btn_next, #btn_prev{
    font-family: var(--font-raleway);
    background-color: var(--color-morado-vino);
    color: var(--color-gri-super-claro);
    padding: 4px 28px;
    font-size: .8rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
}
.cont_paginacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px 0px 0px 0px;
}
.cont_paginacion > *{
    margin-right: 12px;
}

/* __PANEL CONSULTA CURSO*/
    /* PANEL CENTRAL ÚNICO */
.panel_central_unico{
    background-color: var(--color-white);
    width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    box-sizing: border-box;
    height: auto;
}

/* __PANEL ALTA CURSO__ */
.cont_descrip_alta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.txt_descripcion{
    text-align: center;
    max-width: 320px;
    font-family: var(--font-raleway);
    font-size: var(--subtitulo1-18);
}
.txt_descripcion_p{
    text-align: center;
    font-family: var(--font-raleway);
    font-size: var(--subtitulo1-18);
}
.panel_central_left_30 .txt_descripcion{
    margin:12px 0px;
}

.vacio{
    width: 120px;
    height: 20px;
}
#cosCursoINP, #durCursoINP{
    text-align: right;
}

    /* ALTA CURSOS - FORMULARIO */
.form_general{
    margin-top: 34px;
}
.form_general input{
    box-sizing: border-box;
    width: 100%;
    margin-top: 6px;
    padding: 6px 4px;
    background-color: var(--color-panel-principal);
    border: 1px solid #DFDFDF;
    border-radius: 4px;
}
#form_alta_cursos .row1_col1{
    width: 66%;
}
label{
    font-family: var(--font-raleway);
    font-size: var(--subtitulo2-14);
    font-weight: 600;
}
.btn_form{
    text-align: center;
    margin: 0 auto;
}
input[type=submit]{
    margin-bottom: 30px;
    width: auto;
    border: 1px solid #F1F1F152;
    border-radius: 24px;
    color: var(--color-white);
    padding: 8px 16px;
    font-family: var(--font-montserrat);
    font-size: var(--boton-14);
    font-weight: 600;
    transition: all 0.3;
}
.btn_form_crear input[type=submit]{
    background: transparent linear-gradient(180deg, var(--unnamed-color-cee59d) 0%, var(--unnamed-color-82a931) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #CEE59D 0%, #82A931 100%) 0% 0% no-repeat padding-box;
}

    /* CATEGORIAS */
#tabla_panel_categoria tr th{
    cursor: pointer;
}
    /* VALIDACION FORM */
    .formulario__grupo-input {
        position: relative;
    }
    
    .formulario__label {
        display: block;
        font-weight: 700;
        cursor: pointer;
    }
    
    .formulario__input {
        transition: .3s ease all;
    }
    
    .formulario__input:focus {
        border: 1px solid #0075FF;
        outline: none;
        box-shadow: 3px 0px 8px rgba(255,255,255, 0.4);
    }
    
    .formulario__input-error {
        font-size: .8rem;
        padding: 6px 16px 0px 16px;
        border-radius: 6px;
        font-family: 'montserrat', sans-serif;
        margin-bottom: 0;
        display: none;
    }
    
    .formulario__input-error-activo {
        display: block;
    }
    
    
    /* ----- -----  Estilos para Validacion ----- ----- */
    .formulario__validacion-estado{
        position: absolute;
        top: 12px;
        right: 6px;    
    }
    
    .formulario__grupo-correcto .formulario__validacion-estado {
        color: #1ed12d;
        opacity: 1;
        position: absolute;
        top: 12px;
        right: 6px;
    }
    
    #form_crear_cuenta .formulario__grupo-incorrecto .formulario__label {
        color: #ffffff;
    }
    
    .formulario__grupo-incorrecto .formulario__label {
        color: #FF2E2D;
    }
    
    .formulario__grupo-incorrecto .formulario__validacion-estado {
        color: #bb2929;
        opacity: 1;
        position: absolute;
        top: 12px;
        right: 6px;
    }
    
    .formulario__grupo-incorrecto .formulario__input {
        border: 3px solid #bb2929;
    }
    
    .formulario__grupo-terminos, 
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: span 2;
    }
    
    .formulario__mensaje {
        line-height: 1.2;
        font-size: 14px;
        font-family: 'montserrat';
        background: #F66060;
        padding: 10px 15px;
        border-radius: 3px;
        display: none;
    }
    
    .formulario__mensaje-activo {
        display: block;
    }
    
    .formulario__mensaje p {
        margin: 0;
    }
    
    .formulario__mensaje-exito {
        margin-top: 16px;
        font-size: 14px;
        font-family: 'montserrat';
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #1ed12d;
        color: #fff!important;
        display: none;
    }
    
    .formulario__mensaje-exito-activo {
        color: #119200;
        display: block;
    }
    


/* BTN FOR CREAR HOVER */
.btn_form_crear input[type=submit]:hover{
    cursor: pointer;
    background: transparent linear-gradient(180deg, #BAD87A 0%, #669900 100%) 0% 0% no-repeat padding-box;
}


#form_alta_cursos .row2_col1, #form_alta_cursos .row2_col2, #form_alta_cursos .row2_col3{
    width: 33%;
}
.form_general > div{
    margin-top: 24px;
}
.form_general select{
    margin-top: 6px;
    padding: 6px 4px;
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    background-color: var(--color-gris-claro);
    box-sizing: border-box;
}
.form_general select:focus{
    border: 2px solid var(--color-black);
    box-sizing: border-box;
}

/* __ACTUALIZAR CURSO */
#form_actualizar_curso .row1_col1{
    width: 100%;
}
#form_actualizar_curso .row2_col1, #form_actualizar_curso .row2_col2{
    width: 50%;
}
/* #form_actualizar_curso .row3_col1{
    width: 100%;
} */
/* #form_actualizar_curso .row4_col1, #form_actualizar_curso .row4_col2{
    width: 50%;
} */
.btn_form_subir input[type=submit]{
    background-color: var(--color-white);
    border:1px solid var(--color-azul-editar);
    color: var(--color-azul-editar);
}
    /* BTN FOR CREAR HOVER */
.btn_form_subir input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--color-gris-claro);
}

.btn_form_actualizar input[type=submit]{
    background-color: var(--color-azul-editar);
}
    /* BTN FOR CREAR HOVER */
.btn_form_actualizar input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--color-azul-editar-hover);
}


.tit_actualizar_curso{
    text-align: center;
    font-family: var(--font-raleway);
    font-size: var(--subtitulo1-18);
    font-weight: bold;
    background-color: #F9FBF2;
    padding: 6px 8px;
    border-radius: 4px;
}
.cont_cover_curso{
    background-color: var(--color-gri-super-claro);
    text-align: center;
    border-radius: 4px;
    margin-bottom: 12px;
}

    /* FOTO CURSO */
.img_foto_consulta_curso{
    width: 100%;
    border-radius: 8px;
}
#form_img{
    margin-top: 16px;
}
.cont_cover_curso .txt_caption{
    padding: 8px 0px;
}
.cont_form_galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.group_form_img{
    position: relative;
    width: 33%;
    box-sizing: border-box;
    padding: 8px;
}
.group_form_img img{
    width: 100%;
    position: relative;
    top: 4px;
}
.card_img{
    transition: all 0.3s;
}
.card_img:focus-within{
    display: inline-block;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    background-color: var(--color-gri-super-claro);
    border-radius: 4px;
}
.group_form_img input{
    position: absolute;
    top: 10px;
    left: 6px;
    width: auto;
}
.group_form_img .txt_caption{
    position: relative;
    left: 24px;
    width: calc(100% - 32px);
    margin-bottom: 6px;
    margin-top: 6px;
}
.group_form_img .btn_icon img{
    width: 12px;
    top: 0;
}
#botones{
    text-align: left;
}
#botones .pageButton{
    background-color: var(--color-white);
    color: var(--color-verde-hover);
    font-family: var(--font-raleway);
    font-weight: 600;
    border: 1px solid var(--color-verde-claro-600);
    padding: 3px 8px 5px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
}
.active_pagination{
    font-weight: bold;
    color: var(--color-verde-claro-100)!important;
    background-color: var(--color-verde-iam)!important;
}


/* __ALUMNO HOMEPAGE*/
#panel_superior{
    width: 100%;
}
#panel_superior2{
    width: 100%;
    box-sizing: border-box;
}
#panel_superior img{
    width: 100%;
}
.cont_central_encabezado{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-white);
}
.cont_foto_user{
    position: relative;
}
.foto_user{
    margin: 16px auto 24px;
    width: 180px;
    height: 180px;
    background-color: var(--color-gris-azulado-obscuro);
    border-radius: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tit_matricula{
    background-color: var(--color-verde-claro-100);
    padding: 8px 16px;
    border-radius: 8px;
}
.cont_txt_user{
    margin: 6px 0px 18px 0px;
}
#panel_usuario .form_general_row{
    margin-top: 0px;
}
.encbezado_img{
    background-image: url('../images/foto_user_perfil.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}
.encbezado_img_c_detalle{
    background-color:red;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
#panel_usuario .panel_central_left_30, #panel_usuario .panel_central_right_70, #panel_usuario .panel_central_unico{
    margin-top: -60px;
}
.disabled_input{
    font-family: var(--font-raleway);
    font-size: 1rem;
    padding: 6px 12px;
    margin-top: 6px;
    background-color: var(--color-gris-claro);
}
.d-none{
    display: none;
}


    /* TARJETA GRUPO ACTIVO ALUMNO */
.tarjeta_encabezado{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0px 1px 12px #0000003D;
}
.cont_img_tarjeta img{
    border-radius: 8px 0px 0px 8px;
}
.cont_txt_tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px 8px 16px;
}
.cont_fecha_hora_tarjeta{
    display: flex;
    flex-direction: row;
}
.cont_fecha_hora_tarjeta p{
    display: block;
    font-family: var(--font-raleway);
    color: var(--color-gris-medio);
    font-size: var(--body3-12);
    font-weight: 400;
    padding: 0px 0px 12px 20px;
}
    /* ICONOS TARJETA */
.icon_g_tarjeta{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
}
.cont_fecha_hora_tarjeta .icon_g1{
    margin-left: -18px;
    background-image: url('../images/icono_calendario_tarjeta_grupo_homePage.png');
}
.cont_fecha_hora_tarjeta .icon_g2{
    margin-left: -16px;
    background-image: url('../images/icono_reloj_tarjeta_grupo_homePage.png');
}

    /* LISTA DE CURSOS */
.cont_cursos_card{
    width: 100%;
    background-color: var(--color-white);
    border-radius: 6px;
    padding: 20px 20px;
    box-sizing: border-box;
    height: fit-content;
}
.cont_grup_card_cursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
}
.card_curso{
    position: relative;
    background-color: var(--color-white);
    max-width: calc(25% - 26px);
    border-radius: 8px;
    box-sizing: border-box;
    min-height: 360px;
    border: 2px solid var(--color-gris-claro);
}
.card_curso::before{
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 8px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--color-verde-claro-300);
}
.card_curso img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.card_curso .tit_5{
    margin-top: 12px;
    margin-bottom: 4px;
    padding: 0px 12px;
}
.card_curso .txt_caption{
    padding: 0px 12px;
}
.cont_datos_card{
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 12px;
}
.cont_datos_card p{
    width: fit-content;
    font-family: var(--font-montserrat);
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 400;
}
.card_curso_precio{
    background-color: var(--color-white);
    border: 1px solid var(--color-azul-editar);
    color: var(--color-azul-editar);
    font-size: 1rem;
}
.card_curso_duracion{
    background-color: var(--color-white);
    border: 1px solid var(--color-morado-vino);
    color: var(--color-morado-vino);
    font-size: 0.8rem;
}
.cont_info_card{
    margin-right: -12px;
    height: 10px;
    width: 100%;
    margin-left: 0px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--color-morado-vino);
}
.card_body{
    position: relative;
    height: fit-content;
    padding-bottom: 16px;
}
.tag_curso{
    font-family: var(--font-raleway);
    font-size: .6rem;
    position: absolute;
    border-radius: 0px 12px 12px 0px;
    left: 0px;
}
.tag_categoria{
    top: -64px;
    background-color: var(--color-gris-claro);
    padding: 4px 8px;
    font-weight: 600;
}
.tag_tipo{
    top: -88px;
    padding: 4px 8px;
    font-weight: 800;
    background-color: var(--color-mazul-morado);
    color: var(--color-gri-super-claro);
}
.tag_software{
    top: -40px;
    padding: 4px 8px;
    font-weight: 600;
    background-color: var(--color-verde-iam);
    color: var(--color-gris-claro);
}


    /* DETALLE CURSO */
.curso_detalle .panel_inferior{
    justify-content: space-between;
}
.curso_detalle .form_general_row{
    width: 100%;
}
.list_breadcrumb{
    list-style: none;
    padding-left: 0;
}
.list_breadcrumb .item_breadcrumb{
    display: inline-block;
    font-family: var(--font-montserrat);
    font-style: italic;
    font-weight: 600;
    font-size: .8rem;
    color: var(--color-back-aside);
}
.list_breadcrumb .item_breadcrumb a{
    color: var(--color-gris-azulado-obscuro);
    text-decoration: none;
}
.list_breadcrumb .item_breadcrumb a:hover{
    color: var(--color-black);
}
.curso_detalle .subtit_1{
    margin-top: 20px;
    margin-bottom: 12px;
}
.curso_detalle #panel_central{
    background-color: var(--color-gri-super-claro);
    padding-bottom: 16px;
}
.curso_detalle .cont_flex{
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 16px;
}
.curso_detalle .cont_flex > div{
    margin-top: 16px;
    margin-bottom: 12px;
}
.card_info_curso{
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
    background-color: var(--color-verde-claro-100);
    border: 1px solid var(--color-verde-claro-300);
    border-radius: 8px;
}
.card_precio_curso{
    padding: 20px 24px 0px 24px;
    border: 1px solid var(--color-azul-editar);
    border-radius: 8px;
}
.cont_info_instructor{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
.cont_info_instructor img{
    width: 80px;
}
.nom_instructor{
    font-family: var(--font-raleway);
    font-weight: 600;
    font-size: var(--subtitulo1-18);
}
.tag_instructor{
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: var(--body3-12);
    color: var(--color-gris-azulado-obscuro);
}
.box_shadow{
    box-shadow: 0px 1px 24px rgba(0,0,0,0.16);
}
.tit_info_q{
    margin-top: 12px;
    font-family: var(--font-montserrat);
    font-size: var(--body2-14);
    font-weight: 600;
    color: var(--color-verde-hover);
}
.txt_info_r{
    padding: 4px 0px 8px 0px;
    font-family: var(--font-montserrat);
    font-size: var(--body3-12);
    color: var(--color-back-aside);
}

    /* MENU SUPERIOR */
.acceso_usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.info_user_top{
    position: relative;
    text-align: right;
}
.acceso_usuario:hover .subMenu_superior{
    display: block;
    animation-name: animaMenuTop;
    animation-duration: .4s;
} 
.mostrarMenu{
    position: absolute;
    top: 14px;
    width: 180px;
    height: 20px;
    padding-top: 40px;
}
.subMenu_superior{
    display: block;
}
.subMenu_superior{
    display: none;
    position: absolute;
    list-style: none;
    top: 84px;
    padding: 4px 0px 12px 0px;
    background-color: var(--color-white);
    width: 200px;
    height: auto;
    text-align: left;
    z-index: 9;
    border-radius: 12px;
    box-shadow: 0px 0px 14px rgba(0,0,0, 0.18);
}
.subMenu_superior a li{
    padding: 6px 12px;
    margin-top: 8px;
    font-family: var(--font-montserrat);
    font-size: var(--body3-12);
}
.subMenu_superior a{
    color: var(--color-gris-azulado-obscuro);
    text-decoration: none;
    transition: 0.4s;
}
.item_subMenu_superior li:hover{
    background-color: var(--color-verde-claro-100);
}
.item_subMenu_superior li:hover svg{
    fill: var(--color-verde-hover);
}

.item_subMenu_superior svg{
    width: 12px;
    margin-right: 6px;
}   
.icon_exel{
    width: 120px;
    margin: 20px 0px 8px 0px;
}


/* __AULA */
.cont_card_aula{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}
.cont_card_aula .card_aula{
    position: relative;
    width: 31%;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    transition: all .3s;
}
.card_aula:hover{
    border: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.12);
}
.card_aula img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.txt_card_aula{
    padding: 8px 12px 12px 12px;
}
.nom_aula{
    font-family: var(--font-raleway);
    font-size: var(--body1-16);
    font-weight: 800;
    color: var(--color-verde-hover);
    margin-bottom: 8px;
}
.card_aula .btn_editar{
    margin-top: 8px;
}
.card_aula .img_perfil, .card_aula .btn_eliminar_foto img{
    width: 14px;
}

/* __REPORTES */
.cont_reportes_img img{
    width: 120px;
}


/* __MENSAJES */
.msnErrorLogin{
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    background-color: #FB5252;
    color: #fff;
    margin-top: 10px;
    font-family: var(--font-raleway);
    font-size: var(--body3-12);
    padding: 8px 0px;
}
.msnSuccesLogin{
    margin: 0 auto;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    background-color: #58CE6B;
    color: #fff;
    margin-top: 2px;
    font-family: var(--font-raleway);
    font-size: var(--body3-12);
    animation-fill-mode: forwards;
    animation-name: animaMsnSuccess;
    animation-duration: 1s;
    animation-delay: 2s;
}
    /* PÁGINA DE ERROR 404 */
.cont_error_404{
    background-color: var(--color-gris-claro);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.error_404{
    background-color: var(--color-back-aside);
    width: 50%;
    box-sizing: border-box;
    min-width: 300px;
    height: fit-content;
    padding: 26px;
    text-align: center;
    color: var(--color-gri-super-claro);
    border-radius: 16px;
}

    /* COLOR DESTACADO */
.col_destacado{
    color: blueviolet;
}
.cont_menu_movil{
    display: none;
}
#menu_movil{
    display: none;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 16px;
    width: 60px;
    height: 60px;
    background-image: url('../images/svg/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

/* __RESPONSIVE__ */
@media screen and (max-width:768px) {
    .cont_menu_movil{
        display: block;
    }
    #menu_movil{
        display: block;
    }
    #cont_aside{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        z-index: 99;
    }
    .cont_contadores_panel{
        flex-wrap: wrap;
    }
    .tarjeta_cont{
        width: 45%;
        margin: 8px 0px;
    }
    .panel_central_left{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .panel_inferior{
        flex-wrap: wrap;
        padding: 16px;
    }
    .panel_central_right{
        width: 100%;
    }
    #panel_central{
        padding: 0 16px;
    }
    .panel_central_unico{
        overflow: scroll;
    }
    .cont_titulo_cursos{
        flex-wrap: wrap;
        margin-bottom: 12px;
    }
    .cont_sortable{
        flex-direction: column;
        gap: 12px;
    }
    .select_filter{
        margin-bottom: 12px;
    }
    #submenu{
        display: block;
    }
    .cont_descrip_alta{
        flex-wrap: wrap;
        gap: 12px;
    }
    .panel_central_left_30{
        width: 100%;
    }
    #panel_plantel .cont_titulo_cursos{
        flex-direction: column;
        gap: 12px;
    }
    .panel_central_right_70{
        width: 100%;
        margin-top: 20px;
    }
    .cont_card_aula .card_aula{
        width: 100%;
    }
    .cont_central_encabezado{
        padding: 20px 16px;
    }
    .card_curso{
        max-width: 100%;
    }
    #panel_usuario .panel_central_unico {
        margin-top: 0px;
    }
    .subMenu_superior{
        margin-left: 60px;
    }
    #panel_usuario .form_general_row{
        gap: 0;
    }
}



@media screen and (max-width:568px) {
    .form_general_row{
        flex-direction: column;
    }
    .col_12, .col_11, .col_10, .col_9, .col_8, .col_7, .col_6, .col_5, .col_4, .col_3, .col_2, .col_1{
        width: 100%;
    } 
}


/* ANIMACIONES */
@keyframes animaMsnSuccess {
    from{
        opacity: 1;
        height: 18px;
    }
    to{
        opacity: 0;
        height: 0px;
    }
}

@keyframes animaMenuTop{
    from{
        opacity: 0;
        top: 50px;
    }
    to{
        opacity: 1;
        top: 84px;
    }
}